{% load comments i18n %}

{% if user.is_authenticated %}

    <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    <textarea cols="80" id="id_comment" name="comment" rows="4"></textarea>
    <div style="display:none;"> {{ form.honeypot }} </div>
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    {{ form.parent }} <!-- added for threadedcomment compatibility -->
    <input type="hidden" name="next" value="{% url 'exam_discuss' exam.id %}" />
    <p class="submit">
    <button type="submit" class="btn btn-primary btn-xs" />Post Your Comment </button>
  </p>
    </form>
{% else %}
    <p>Please log in to leave a comment.</p>
{% endif %}
