{% load comments i18n %}

{% if user.is_authenticated %}

    <form action="{% comment_form_target %}?next={% url 'discuss' exam.id %}" method="post">
    {% csrf_token %}
    <textarea cols="80" id="id_comment" name="comment" rows="4"></textarea>
    <div style="display:none;"> {{ form.honeypot }} </div>
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    {{ form.parent }} <!-- added for threadedcomment compatibility -->
    <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
  </p>
    </form>
{% else %}
    <p>Please log in to leave a comment.</p>
{% endif %}
