{% load threadedcomments_tags %}
{% load staticfiles %}

<link href="{% static 'css/comments.css' %}" rel="stylesheet"> <!-- custom css for comment list -->

<div class="container">
    {# {{ comment_list|length }} Comments #}
</div>
<p>
<p>

<div class="container">
    {% for comment in comment_list|fill_tree|annotate_tree %}

        {% ifchanged comment.parent_id %}
                <!-- don't start a new list, changed parent_id signals a nested comment -->
        {% else %}
                </li>
        {% endifchanged %}



        {% if not comment.open and not comment.close %}
                </li>
        {% endif %}



        {% if comment.open %}
                <!-- <ul class="list-unstyled"> -->
                <ul class="tree_comment">
        {% endif %}

        <li id="c{{ comment.id }}">

          <h4><u>{{ comment.user_name }}</u>
            <br>
          <small>{{ comment.submit_date|date:"d M Y, H:i" }}</small></h4>
          Text: {{ comment.comment }}
          <br>
          <br>
          <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#comment{{ comment.id }}">
            Reply to Comment
          </button>
<br><br>
          <div id="comment{{ comment.id }}" class="collapse">{% render_comment_form for comment.content_object with comment.id %}</div>

          {% for close in comment.close %}
               </li></ul>
          {% endfor %}



    {% endfor %}
</div>


<!-- With help from:
https://github.com/bhaugen/nova/blob/master/templates/customer/comments_for_customer.html
https://github.com/HonzaKral/django-threadedcomments/blob/aa945a0db1dbe1e5f886839d5f25c398890d46a0/examples/core/templates/comments/core/list.html -->
