{% extends "base.html" %}
{% load static %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

{# TODO: Set action with next to redirect to landing page. #}
<form class="form-horizontal" role="form" method="post">
  {% csrf_token %}

  <center><h2 class="form-horizontal-heading">Sign in</h2></center>

  <div class="form-group">
    <label for="id_email" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="id_email" placeholder="Email" name="email" required autofocus>
    </div>
  </div>
  <div class="form-group">
    <label for="id_password" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="id_password" placeholder="Password" name="password" required>
    </div>
  </div>
  <div class="submit">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </div>
</form>

{% endblock %}
