{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if user.is_staff %} {#This almost certainly is not the best place for this check#}

<h1> Pending Users </h1>
<ul>
  These users have requested conceptum accounts and have confirmed their emails.<br><br>
  <li>Select <b>Approve as User</b> to activate an account with basic permissions and notify the
	user by email.</li>
  <li>Select <b>Approve as Contributor</b> to activate an account with contributor permissions
	and notify the user by email.
  <br>(All Contributors are Users, with additional priviledges related to the development of the
	CI.  All users can deploy the CI)</li>
  <li>Select <b>Reject</b> or <b>Ignore</b> to delete a pending user's information from the database.
  <br>Reject notifies the user by email, while Ignore deletes the user quietly.</li> 
  <br>  
  <li>Staff priviledges (like the ability to use this page) can only be assigned by superusers
	through the admin page. </li> 
</ul>

<hr>
{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}

{% if pending_profiles %}
  <ul>
  {% for profile in pending_profiles %}

	<form action="{% url 'pending_action' profile.id %}" method="post">
	{% csrf_token %}
	  <b>Email:</b>
		{{profile.user.email}}<br>
		
	  <b>Name:</b>
		{{profile.user.name}}<br>
		
	  <b>Homepage:</b>
		<a href = {{profile.homepage}}> {{profile.homepage}}</a><br>
		
	  <b>User Interest:</b>
		{% if profile.interest_in_devel and profile.interest_in_deploy%}
		  Wants To Develop and Deploy 
		{% elif profile.interest_in_devel %}
		  Wants to Develop
		{% elif profile.interest_in_deploy%}
		  Wants to Deploy
		{% else %}
		  None Specified
		{% endif %}<br>
		
	  <b> Other Info:</b><br>
		{{profile.text_info}}<br>
	  <br>
	   
	  <input type="submit" name="approve_contrib" value="Approve as
			  Contributor" class="btn" />
			  <input type="submit" name="approve_base" value="Approve as User" class="btn" />
	  <input type="submit" name="reject" value="Reject" class="btn" />
	  <input type="submit" name="ignore" value="Ignore" class= "btn" />
	  
	</form>

  {% endfor %}
  </ul>
{% else %}
  <p>No unapproved users.</p>	
{% endif %}
<hr>

{% else %} {#from top "if user.is_staff"#}
	You do not have permission to view this page. This page is for staff only 
{% endif %}
{% endblock %}