{% extends "base.html" %}
{% load i18n %}

{% block content %}



{% if user.is_staff %} {#not sure if this is the best place for this check#}
<h1> Pending Users </h1>

<p> Hit "Approve as Contributor" to accept user's signup request, give them contributor permissions, and alert them by email.
<p> Hit "Approve as User" to accept user's signup request, give them user permissions, and alert them by email.
<p> Hit "Reject" to deny user's request and alert them by email.
<p>Hit "Ignore" to deny user's request but <b>not</b> send an email.</p>
<hr>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	{% if pending_profiles %}
      <ul>
      {% for profile in pending_profiles %}

		<form action="{% url 'pending_action' profile.id %}" method="post">
		{% csrf_token %}
                
                <b>Email:</b>
                {{profile.user.email}}
                </div>
        
                <br><b>Name:</b>
                {{profile.user.name}}
                
                
                <br><b>Homepage:</b>  
                <a href = {{profile.homepage}}> {{profile.homepage}}</a>
                <br><b>User Interest: </b>
                
                 {% if profile.interest_in_devel and profile.interest_in_deploy%}
                    Wants To Develop and Deploy 
                        {% elif profile.interest_in_devel %}
                        Wants to Develop
                            {% elif profile.interest_in_deploy%}
                             Wants to Deploy
                             {% else %}
                                 None Specified
                             
                                {% endif %}
                                
                <br><b> Other Info:</b>
                    <br>{{profile.text_info}}
                    <br><br>
		 
		  <input type="submit" name="approve_contrib" value="Approve as
                  Contributor" class="btn" />
                  <input type="submit" name="approve_base" value="Approve as User" class="btn" />
		  <input type="submit" name="reject" value="Reject" class="btn" />
		  <input type="submit" name="ignore" value="Ignore" class= "btn" />

		</form>
		
                <hr>
      {% endfor %}
      </ul>
	{% else %}
      <p>No unapproved users.</p>
	
{% endif %}	 
{% else %}
	You do not have permission to view this page. This page is for staff only 
{% endif %}
{% endblock %}