{% extends "base.html" %}
{% load i18n %}

{% block content %}



{% if user.is_staff %} {#not sure if this is the best place for this check#}
<h2> Pending users: </h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


	{% if pending_profiles %}
      <ul>
      {% for profile in pending_profiles %}
		<form action="{% url 'approve' profile.id %}" method="post">
		{% csrf_token %}
                
                <b>Email:</b>
                {{profile.user.email}}
                </div>
        
                <br><b>Name:</b>
                {{profile.user.name}}
                
                
                <br><b>Homepage:</b>  
                <a href = {{profile.homepage}}> {{profile.homepage}}</a>
                <br><b>User Interest: </b>
                
                 {% if profile.interest_in_devel and profile.interest_in_deploy%}
                    Wants To Develop and Deploy 
                        {% elif profile.interest_in_devel %}
                        Wants to Develop
                            {% elif profile.interest_in_deploy%}
                             Wants to Deploy
                             {% else %}
                                 None
                             
                                {% endif %}
                                
                <br><b> Other Info:</b>
                    <br>{{profile.text_info}}
		  <br><br> <button class="btn btn-lg btn-primary" type="submit">{% trans "Approve" %}</button>
		</form>
		
                <hr>
      {% endfor %}
      </ul>


	{% else %}
      <p>No unapproved users.</p>

	
{% endif %}
	
	 
{% else %}
	You do not have permission to view this page. This page is for staff only 
{% endif %}
{% endblock %}