{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if user.is_staff %} {#not sure if this is the best place for this check#}
<h2> Unapproved users: </h2>
{% if unapproved_profiles %}
    <ul>
    {% for profile in unapproved_profiles %}
		<div>
        {{ profile.user.email }}
		</div>
    {% endfor %}
    </ul>
{% else %}
    <p>No unapproved users.</p>
{% endif %}
	
	 
{% else %}
	You do not have permission to view this page. This page is for staff only 
{% endif %}
{% endblock %}