{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Create Exam" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
 
  <div class="horizontal-heading">
    <h3>Make a new {{current_app|capfirst}} version</h3>
  </div>
  
  <p> Before creating a new {{current_app}}, keep in mind that we probably don't want more than a
  couple--if more than 1--{{current_app}}s in development at any time. Make sure that a version
  of this exam isn't already in development</p>
  <p> This will copy all questions from the old exam.</p>
  
  <form class="form-horizontal" role="form"  action="" method="post">{% csrf_token %}
  
  {{ form.non_field_errors }}

  {% for field in form %}
    <div class="form-group">
      {{ field.errors }}
      <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
      <div class="col-sm-9">
        {{ field }}
     </div>
    </div>
  {% endfor %}
  
      <div class="submit">
        <button class="btn btn-primary" type="submit">Create</button>
        <a href = {% url 'exam:index' %} class='btn btn-primary'> Cancel </a>
      </div>
  </form>
  
</div> <!-- container -->

{% endblock %}