{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Interview Detail" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
    
<div class="form-horizontal-heading">
  <h2><b>Survey Questions</b></h2>
</div>
<h4>Click on a question to edit it </h4>

<div>
  <a href = {% url 'exam:select_concept' object.id %} class="btn btn-primary"> Add Questions </a>
  {%if user.is_staff%}
  <a href = {% url 'exam:finalize_view' exam.id %} class="btn btn-warning"> Select Questions for Final Survey</a>
{%endif%}
  <br>
    <br>
</div>

<div align="left">
<TABLE WIDTH="750">
  <thead>
    <tr >
      <th>Free Response</th>
      <th>Multiple Choice</th>
    </tr>
  </thead>
<TR>
<TD WIDTH=300>
<TABLE WIDTH="300">
<TR>
<TD align="middle">
{% if freeresponsequestion_list %}
  <div style="overflow: auto; width:500px; height: 500px;">
   <table  class="table table-bordered ">
                 <thead>
    <tr bgcolor="#B2B2B2">
      <th>Concept</th>
      <th>Question</th>
    </tr>
  </thead>
    <tbody>
    {% for concept, questions in freeresponsequestion_list.iteritems %}
        <tr>
        {% if concept%}
              <td bgcolor = "#B2B2B2">{{concept}} </td>
              {%if questions %}
              <td>{% for q in questions %}
              {%with forloop.counter as index%}
                {% if index == 1 %}
                 <a href="{% url 'exam:freeresponse_edit' q.id %}">{{q}}</a> </td>
                  {%else%}
         <tr> <td bgcolor = "#CECECE"></td> 
              <td> <a href="{% url 'exam:freeresponse_edit' q.id %}">{{q}}</a> </td></tr>
            {%endif%}
            {%endwith%}
          {%endfor%}
          {% else %}
            <td>---</td>
            {%endif%}
       </tr>
       {%endif%}
    {% endfor %}
  </tbody>
</table>
  </div>

{% else %}
    <p>No free response questions have been created yet.</p>
{% endif %}
</TD>
</TR>
</TABLE>
</TD>
<TD WIDTH="400">
<TABLE >
<TR>
<TD align="middle" WIDTH="400">
{% if multiplechoicequestion_list %}
    <div style="overflow: auto; width:500px; height: 500px;">
   <table  class="table table-bordered"  >
                 <thead>
    <tr bgcolor="#B2B2B2">
      <th>Concept</th>
      <th>Question</th>
      <th>Options</th>
    </tr>
  </thead>
    <tbody>
    {% for concept, questions in multiplechoicequestion_list.iteritems %}
       <tr >
        {% if concept%}
            <td bgcolor = "#B2B2B2">{{concept}} </td>
        {%if questions %}
            <td>{% for q in questions %}
              {%with forloop.counter as index%}
                {% if index == 1 %}
                 <a href="{% url 'exam:multiplechoice_edit' q.id %}">{{q}}</a> </td>
            <td>{%for option in option_list %}
                {% if option.question.id == q.id%}
                <li>{{option.text}}</li>
          {%endif%}
          {%endfor%}
          </td>
                  {%else%}
      <tr> <td bgcolor = "#CECECE"></td> 
          <td> <a href="{% url 'exam:multiplechoice_edit' q.id %}">{{q}}</a> </td> 
          <td WIDTH="250">{%for option in option_list %}
          {% if option.question.id == q.id%}
              <li>{{option.text}}</li>
          {%endif%}
          {%endfor%}
          </td>
           {%endif%}
            {%endwith%}
          {%endfor%}
          {% else %}
            <td>---</td>
            <td>---</td>
            {%endif%}
       </tr>
       {%endif%}
    {% endfor %}
  </tbody>
</table>
   </div>
{% else %}
    <p>No multiple choice questions have been created yet.</p>
{% endif %}

</TD>
</TR>
</TABLE>
</TD>
</TR>
</TABLE>

</div>

</div> <!-- container -->

{% endblock %}
