{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Interview Detail" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
    
<div class="form-horizontal-heading">

{% block heading %}
<h2><b>{{current_app|capfirst}} Development: {{exam}} </b></h2>
</div>
    <hr>
<h4>Description:</h4>
    <p> {{exam.description}}</p>
{% endblock %}
    

{% block buttons %}
<div>
  <a href = {% url 'exam:select_concept' object.id %} class="btn btn-primary"> Add Questions </a>
  
  {% if user.is_staff %}
    </br></br>
    <h4>Staff Controls:</h4>
    <a href = {% url 'exam:edit' object.id %} class="btn btn-primary">Edit {{current_app|capfirst}}</a>
    <a href = {% url 'exam:finalize_view' object.id %} class="btn btn-warning">Finalize {{current_app|capfirst}}</a>
    <a href = {% url 'exam:delete_exam' object.id %} class="btn btn-danger">Delete {{current_app|capfirst}}</a>
  {%endif%}
  <br>
  <br>
</div>
<h5>Click on a question to edit it </h5>
<div align="left">

{% endblock %}
    
<ul class = "collapsible_list">
    <li><h3><span class="tab">Multiple Choice</span>
    
        <label for="mc_question_node">
        <div id = "plus" class = "ind_button plus_ind_button"> + </div> <div id = "minus" class = "ind_button minus_ind_button"> - </div>
        
        
        
        
        
        </label></h3>
    <input type = "checkbox" id = "mc_question_node" checked onclick = "PlusMinus(this)">
        
<TD>
<TABLE class = "inner_list">
<TR>
<TD align="middle">
{% if multiplechoicequestion_list %}
    <div style="overflow: auto;">
   <table  class="table table-bordered"  style="table-layout:fixed">
    <thead>
    <tr bgcolor="#B2B2B2">
      <th width = 160px>Concept</th>
      <th>Question</th>
      
    </tr>
  </thead>
    <tbody>
    {% for concept, questions in multiplechoicequestion_list.iteritems %}
       <tr >
        {% if concept%}
            <td bgcolor = "#B2B2B2">{{concept}} </td>
        {%if questions %}
            <td class = "data">
            {% for q, options in questions %}
              {%with forloop.counter as index%}
                {% if index == 1 %}
                {% if object.stage == 1 %}
                 <a href="{% url 'exam:mc_edit' q.id %}">{{q}}</a> 
                {% else %}
                    <b>{{q}}</b>
                {% endif %}
            <div class = "overview_inner_list">
              <ol type = "a">
                {%for option in options %}
                    {% if option.is_correct%}
                  <li><b class = "correct">{{option.text}}</b></li>
                    {% else %}
                  <li>{{option.text}}</li>
                  {%endif%}
                {%endfor%}
                </ol>
              </div>
          
                  {%else%}
            </td>
      <tr> <td bgcolor = "#CECECE"></td> 
          <td> 
             {% if object.stage == 1 %}
                 <a href="{% url 'exam:mc_edit' q.id %}">{{q}}</a> 
                {% else %}
              <b>{{q}}</b>
                {% endif %}  
          
              
              <div class = "overview_inner_list">
              <ol type = "a">
                {%for option in options %}
                    {% if option.is_correct%}
                  <li><b class = "correct">{{option.text}}</b></li>
                    {% else %}
                  <li>{{option.text}}</li>
                  {%endif%}
                {%endfor%}
                </ol>
              </div>
          
            </td>
           {%endif%}
            {%endwith%}
          {%endfor%}
          {% else %}
            <td>---</td>
            {%endif%}
       </tr>
       {%endif%}
    {% endfor %}
  </tbody>
</table>
   </div>
{% else %}
    <p>No multiple choice questions have been created yet.</p>
{% endif %}

</TD>
</TR>
</TABLE>
</TD>
    </li>
    </ul>

<br>

    
<ul class = "collapsible_list">
    <li><h3><span class="tab">Free Response</span>
    
        <label for="fr_question_node">
            
            <div id = "plus" class = "ind_button plus_ind_button"> + </div> <div id = "minus" class = "ind_button minus_ind_button"> - </div>
        
        </label></h3>
    <input type = "checkbox" id = "fr_question_node" checked onclick = "PlusMinus(this)">
    
<TABLE class = "inner_list">
<TR>
<TD WIDTH=100%>
<TABLE WIDTH=100%>
<TR>
<TD align="middle">
{% if freeresponsequestion_list %}
  <div style="overflow: auto;">
   <table  class="table table-bordered " style="table-layout:fixed">
                 <thead>
    <tr bgcolor="#B2B2B2">
      <th  width = 160px>Concept</th>
      <th>Question</th>
    </tr>
  </thead>
    <tbody>
    {% for concept, questions in freeresponsequestion_list.iteritems %}
        <tr>
        {% if concept%}
              <td bgcolor = "#B2B2B2">{{concept}} </td>
              {%if questions %}
              <td>{% for q in questions %}
              {%with forloop.counter as index%}
                {% if index == 1 %}
                 {% if object.stage == 1 %}
                 <a href="{% url 'exam:fr_edit' q.id %}">{{q}}</a> 
                {% else %}
                    <b>{{q}}</b>
                {% endif %} </td>
                  {%else%}
         <tr> <td bgcolor = "#CECECE"></td> 
              <td>
                  {% if object.stage == 1 %}
                 <a href="{% url 'exam:fr_edit' q.id %}">{{q}}</a> 
                {% else %}
                    <b>{{q}}</b>
                {% endif %}</td></tr>
            {%endif%}
            {%endwith%}
          {%endfor%}
          {% else %}
            <td>---</td>
            {%endif%}
       </tr>
       {%endif%}
    {% endfor %}
  </tbody>
</table>
  </div>

{% else %}
    <p>No free response questions have been created yet.</p>
{% endif %}
</TD>
</TR>
</TABLE>
</TD>
</TR>
</TABLE>
    </li>
</ul>

</div>

{% block footer %}
  <a href = {% url 'exam:index' %} class='btn btn-primary'> Back </a>
{% endblock footer %}

</div> <!-- container -->



{% endblock %}
