{% extends "jumbotron.html" %}
{% load threadedcomments_tags %}

{% block jumbo %}

<h1>Thread for Exam {{ exam_id }} </h1>
{{ exam.description }}

{% endblock %}

{% block body %}

<button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#exam_comment_form">
            Reply to Exam {{ exam_id }}
          </button>
<br><br>
          <div id="exam_comment_form" class="collapse">{% render_comment_form for exam %}</div>

<div class="container">
  <div class="row">
    {% render_comment_list for exam %}
  </div>

  <div class="row">
    <h3>Add a comment for Exam {{ exam.id }}: </h3>
  </div>
</div>

{% render_comment_form for exam %}
{% endblock %}
