{% extends "jumbotron.html" %}
{% load threadedcomments_tags %}

{% block jumbo %}

<h1>Exam {{ exam_id }} <small> Discussion </small> </h1>
More description can go here.

{% endblock %}

{% block body %}

{% get_comment_list for exam as clist %}
{{ clist|length }} Comments
<br>
<br>
<button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#exam_comment_form">
  Comment on Exam {{ exam_id }}
</button>

          <div id="exam_comment_form" class="collapse">{% render_comment_form for exam %}</div>
<br>
<br>
<div class="container">
  <div class="row">
    {% render_comment_list for exam %}
  </div>
</div>

{% endblock %}
