{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Distribute Exam" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
  <h1>CI Distribution</h1>
  Exam: {{ object.exam.name }} </br>
  Description: {{ object.exam.description }}
  <ul>
  <b>{{ object.course }}</b><br>
  <b>{{ object.instructor }}</b><br>
  <b>{{ object.created.date }}</b>
  </ul>
  
  
  <h2>Submitted Responses</h2>
  <ul>
  {% if submitted_exams %}
    {% for response in submitted_exams %}
      <li><a href = "{% url 'exam:response_detail' response.response_set.exam.id response.response_set.id response.key %}"> {{ response.respondent }}</a></li>
    {% endfor %}
  {% else %}
    None
  {% endif %}
  </ul>
  
  
  
  <div class="form-horizontal-heading">
    <h2>Send Tests</h2>
    Please enter list of recipents' email addresses.  To resend a test to an address,
    check the "resend" box.
  </div>
  
  <form class="form-horizontal" role="form"  action="{% url 'exam:distribute_send' object.id%}" method="post">{% csrf_token %}
  
  {{ form.non_field_errors }}

  {% for field in form %}
    <div class="form-group">
      {{ field.errors }}
      <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
      <div class="col-sm-9">
        {{ field }}{{ field.help_text }}
     </div>
    </div>
  {% endfor %}
  
    <div class="submit">
      <button class="btn btn-primary" type="submit">Send Test</button>
      <a href = {% url 'profile' %} class='btn btn-primary'> Cancel </a>
    </div>
  </form>

<br>

</div> <!-- container -->

{% endblock %}
