{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Distribute Exam" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
  <h1>Send the test to your class</h1>
  
  <ul>
    <li><b>Exam:</b> {{ object.exam.name }} </li>
    <li><b>Description:</b> {{ object.exam.description }}</li>
    <li><b>Course:</b> {{ object.course }}</li>
    <li><b>Created:</b> {{ object.created }}</li>
    <li><b>Instructor:</b> {{ object.instructor }}</li>
    <li><b>Institution:</b> {{ object.instructor.institution }}</li>
  </ul>
  
  
  {% if submitted_exams %}
  </br>
  <h4>These students have already submitted tests.</h4>
  <ul>
    {% for response in submitted_exams %}
      <li>{{response}}: {{ response.respondent }}</li>
    {% endfor %}
  </ul>
  </br>
  {% endif %}
  
  
  
  
  <div class="form-horizontal-heading">
    Please enter list of recipents' email addresses.<br>
    Tests you have already sent out will appear in the "Resend" field if they have not been
    submitted yet. To resend a test to an address, check its box.
  </div>
  
  <form class="form-horizontal" role="form"  action="{% url 'exam:distribute_send' object.id%}" method="post">{% csrf_token %}
  
  {{ form.non_field_errors }}

  {% for field in form %}
    <div class="form-group">
      {{ field.errors }}
      <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
      <div class="col-sm-9">
        {{ field }}{{ field.help_text }}
     </div>
    </div>
  {% endfor %}
  
    <div class="submit">
      <button class="btn btn-primary" type="submit">Send Test</button>
      <a href = {% url 'exam:responses' object.id %} class='btn btn-primary'> Cancel </a>
    </div>
  </form>

<br>

</div> <!-- container -->

{% endblock %}
