{% extends "exam/finalize.html" %}


{% block form_content %}
    
    <h3>Provide a question ordering</h3>
    
    {{ wizard.form.non_field_errors }}

    {% for field in form %}
        {{field.errors}}        
        <ul>
        {{ field }} <b>{{field.label}}</b>
        
            <ul>
            {% for option in option_list.pop %}
                <li>
                {% if option.is_correct %} <b>{{option}}</b>
                {% else %} {{option}}
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </ul>
    {% endfor %}
    
    
    
{% endblock form_content %}