{% extends "exam/finalize.html" %}

  {% block form_content %}
    <h3>Select questions for final {{ current_app }}</h3>
    
    {{wizard.form.non_field_errors}}
    {{wizard.form.select_questions.errors}}
    
    {% for choice, object in choices_and_objects %}
        
        <ul>-------------------------------------</br>
        <i>{{ object.content_object }}</i></br>
        {{ choice }}
        {% if object.image %}
            <a HREF="{{object.image.url}}"><img HEIGHT=50 WIDTH=50 SRC="{{object.image.url}}"></a>
        {% endif %}
            <ul>
            {% for option in object.multiplechoiceoption_set.all %}
                <li>
                {% if option.is_correct %} <b>{{option}}</b>
                {% else %} {{option}}
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </ul>
        </br>
    {% endfor %}
        
  {% endblock form_content %}