{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Interview Detail" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
    
<div class="form-horizontal-heading">
  <h2><b>Finalize {{current_app|capfirst}} Questions</b></h2>
</div>
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
  <form action="" method="post">{% csrf_token %}
  {{ wizard.management_form }}
  
  {% block form_content %}
    {{ wizard.form }}
  {% endblock form_content %}
  
  {% if wizard.steps.prev %}
  <button name="wizard_goto_step" class='btn btn-primary' type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
  {% else %}
    <a href = {% url 'exam:detail' exam.id %} class='btn btn-primary'> Cancel </a>
  {% endif %}
  {% if wizard.steps.next %}
    <button class='btn btn-primary' type="submit" value="{{ wizard.steps.next }}">{% trans "Next" %}</button>
  {% else %}
    <button class="btn btn-danger" type="submit">Finalize</button>
  {% endif %}
  </form>

{% endblock content %}
