{% extends "exam/finalize.html" %}

{% block form_content %}

</br>
{{exam.name}}
</br>
{{exam.description}}
</br>
<ol>
{% for question in ordered_questions %}
    <li>{{question}}
        <ol type="a">
        {% for option in question.multiplechoiceoption_set.all %}
            <li>
            {% if option.is_correct %} <b>{{option}}</b>
            {% else %} {{option}}
            {% endif %}
            </li>
        {% endfor %}
        </ol>
    </li>
{% endfor %}
</ol>
</br>

<p>Are you sure you want to finalize the exam: {{ exam }}?</br>
      You will not be able to edit the exam, including all questions and their
      order, once the exam is finalized.</p>

{% endblock form_content %}