{% extends "exam/finalize.html" %}

{% block form_content %}

<h3>{{exam.name}}</h3>
<h5>{{exam.description}}</h5>
</br>
<ol>
{% for question in ordered_questions %}
    <li>{{question}}
        {% if question.image %}
            <a HREF="{{question.image.url}}"><img HEIGHT=50 WIDTH=50 SRC="{{question.image.url}}"></a>
        {% endif %}
        <ol type="a">
        {% for option in question.multiplechoiceoption_set.all %}
            <li>
            {% if option.is_correct %} <b>{{option}}</b>
            {% else %} {{option}}
            {% endif %}
            </li>
        {% endfor %}
        </ol>
    </li>
    </br></br>
{% endfor %}
</ol>

<p>Are you sure you want to finalize the exam: {{ exam }}?</br>
      You will not be able to edit the exam, including all questions and their
      order, once the exam is finalized.</p>

{% endblock form_content %}