{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}


{% block head_title %}{% trans "Exam Index" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">




{% endblock %}

{% block content %}

<div class="container">
    
<h2> {{current_app|capfirst}} Distribution Index </h2>

<h3>{{current_app|capfirst}}s for Distribution</h3>

{% if not distributable %}
    There are no {{ current_app }}s available for distribution.</br>
    When the development stage of a {{current_app}} is finished, an
    administrator can finalize it and make it available for distribution.
  </br>
  
{% else %}
    Click for details.
    <ul class = "collapsible_overview"> 
    {% for exam, stats in distributable %}
           
        <li class = "table"><span class="over_tab"><span class = "tab-button"><a href="{% url 'exam:distribute_detail' exam.id %}">{{ exam.name }}</a></span>
            <a href = {% url 'exam:distribute_new' exam.id %} class="dist_button"> Distribute </a>
            </span>
            
            
             <label for="toplist_node{{exam.id}}"><div class = "overview-button">Overview <div id = "plus" class = "plus"> + </div> <div id = "minus" class = "minus"> - </div> </div></label>
        <input type = "checkbox" id = "toplist_node{{exam.id}}" onclick = "PlusMinus(this)">
    
    <div class = "overview">
        {{exam.description}}
        <hr>
    
    <ul class = "overview_inner_list">
        {% for item in stats %}
            <li>• {{item}}</li>
        {% endfor %}
            
    </ul>
    </div>
    </li>
    {% endfor %}    
    </ul>
{% endif %}

<h3>Closed {{current_app|capfirst}}s</h3>

{% if not closed %}
    There are no closed {{ current_app }}s.</br>
  </br>
  
{% else %}
    <ul class = "collapsible_overview"> 
    {% for exam, stats in closed %}
           
        <li class = "table"><span class="over_tab"><span class = "tab-button"><a href="{% url 'exam:distribute_detail' exam.id %}">{{ exam.name }}</a></span>
        </span>    
        <label for="toplist_node{{exam.id}}"><div class = "overview-button">Overview <div id = "plus" class = "plus"> + </div> <div id = "minus" class = "minus"> - </div> </div></label>
        <input type = "checkbox" id = "toplist_node{{exam.id}}" onclick = "PlusMinus(this)">
    
    <div class = "overview">
        {{exam.description}}
        <hr>
    
    <ul class = "overview_inner_list">
        {% for item in stats %}
            <li>• {{item}}</li>
        {% endfor %}
            
    </ul>
    </div>
    </li>
    {% endfor %}    
    </ul>
{%endif%}


</div> <!-- container -->

{% endblock %}

 


