{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Survey Create" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
  <h3><b>
  Add a question about </b>{{concept}}</h3>
  <br>

  {% for excerpt in excerpt_list %}
 
    <!-- when interviews is fixed change this back to excerpt.interview -->
    <b>Interview:</b> {{ excerpt }} <br>
    <b>Response:</b> {{ excerpt.response }} <br>
    <br>
  {% endfor %}

  <br>
  
  
  <br>
  <form method="post" action="" enctype='multipart/form-data'>{% csrf_token %}
  
  {{form|linebreaks}}
  
  <div class="submit">
    <br>
  <button class="btn btn-primary btn-primary" type="submit">Submit</button>
  
  {% if question_type == 'free_response' %}
  <a href = {% url 'exam:question_create' exam_id=exam.id concept_id=concept.id question_type='mc' %}
     class="btn btn-primary"> Change to Multiple Choice Question </a>
  {% elif question_type == 'multiple_choice' %}
  <a href = {% url 'exam:question_create' exam_id=exam.id concept_id=concept.id question_type='fr' %}
     class="btn btn-primary"> Change to Free Response Question </a>
{%endif%}

<a href = {% url 'exam:select_concept' exam.id %} class="btn btn-primary"> Choose A Different Concept </a>
<a href = {% url 'exam:detail' exam.id %} class="btn btn-primary"> Cancel </a>
  <br>
  </form>
  <br>

  
  
  
</div> <!-- container -->

{% endblock %}