{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Exam Responses" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">

<h1> Responses for course "{{response_set.course}}" </h1>
<div>
    {%if user_is_uploader_or_staff%}
        <a href = {% url 'exam:distribute_send' response_set.id %} class="btn btn-primary">Send/Resend Test</a>
        <a href = {% url 'exam:distribute_delete' response_set.id %} class="btn btn-danger">Delete this Set</a>
    {%endif%}
    <br>
    <br>
</div>
<h4>For Exam: {{ exam.name}}</h3>
    <ul>
    <li><b>Description:</b> {{ exam.description }} </li>
    <li><b>Randomize:</b> {{ exam.randomize|yesno|capfirst }} </li>
    </ul>
<h4>Response Set ID={{object.id}}</h4>
    <ul>
    <li><b>Course:</b> {{ object.course }}</li>
    <li><b>Created:</b> {{ object.created }}</li>
    <li><b>Instructor:</b> {{ object.instructor }}</li>
    <li><b>Institution:</b> {{ object.instructor.institution }}</li>
    </ul>
 

    
<!--[numQuestions, numCorrect, medianScore, maxScore, lowScore]-->

<ul class = "collapsible_list">
    <li><h3><span class="tab">Statistics (Coming Soon)</span>
    
        <label for="stats_node"><div class = "plus_ind_button"> + </div></label></h3>
    <input type = "checkbox" id = "stats_node">
    
  <ul class = "inner_list">
    {% if stats %}
        <li> Average Score: {{stats.2}}%</li>
        <li> Number of questions: {{stats.0}}</li>
        <li> Number of correct answers: {{stats.1}}</li>
        <li> Highest Score: {{stats.3}}%</li>
        <li> Lowest Score: {{stats.4}}%</li>
        {% if response_set.pre_test %}
            <li> Pre-Test created on {{response_set.created}}</li>
        {% else %}
            <li>Post-Test created on {{response_set.created}}</li>
        {% endif %}
    {% else %}
    <li> none </li>
    {% endif %}
</ul>
    </li>
    
</ul>
    
<!-- need the response set to be passed in -->
<ul class = "collapsible_list">
    <li><h3><span class="tab">Submitted Responses to {{response_set}} </span>    
        <label for="responses_node"><div class = "ind_button "> + </div></label></h3>
        <input type = "checkbox" id = "responses_node" checked>
    
    <ul class = "collapsible_overview">
    {% if responses %}
        {% for response in responses %}
            <li class = "table"><a href = "
            {% url 'exam:response_detail' response.key %}">{{ response }}</a></li> 
        {% endfor %}
    {% else %}
        None
    {% endif %}
    </ul>
    <br>
    </li>
</ul>

<ul class = "collapsible_list">
    <li><h3><span class="tab">Unsubmitted Responses</span>    
        <label for="pending_node"><div class = "ind_button "> + </div></label></h3>
        <input type = "checkbox" id = "pending_node" checked>
    
    <ul class = "collapsible_overview">
    {% if pending %}
        {% for response in pending %}
            <li class = "table">{{ response }}</li> 
        {% endfor %}
    {% else %}
        None
    {% endif %}
    </ul>
    <br>
    </li>
</ul>
    
<a href="{% url 'exam:response_sets' exam.id%}" class = "btn btn-primary">Back</a><br>
    

</div> <!-- container -->

{% endblock %}