{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Exam Responses" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
 
  <div class="horizontal-heading">
    <h3>Take the test here</h3>
  </div>
  
  <h5>Your answers will
  {% if object.consented_to_research %}
    be used (anonymously)
  {% else %}
    NOT be used
  {% endif %}
  for research.</h5>
  
  <form class="form-horizontal" role="form"  action="" method="post">{% csrf_token %}
  
  {{ form.non_field_errors }}

  <ol>
  {% for field, question in questions %}
    <li><div class="form-group">
      {{ field.errors }}
      {% if question.image %}
        <img src="{{ question.image.url }} ">
          </br></br>
      {% endif %}
      
      <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
      </br>
      <div class="col-sm-9">
        {{ field }}
     </div>
    </div></li>
  {% endfor %}
  </ol>
  
      <div class="submit">
        <button class="btn btn-primary" type="submit">Submit Responses</button>
      </div>
  </form>
  
</div> <!-- container -->

{% endblock %}