{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Take Test" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
<div style="text-align:center">
    <h2>Oberlin College</h2>

<h3>Consent to Act as a Research Subject</h3>

<h3>Collaborative Research: Infrastructure and Development of a Computer Science Concept Inventory for CS2</h3>

</div>
    <br>

    <p>Cynthia Taylor and research associates are conducting a study to determine critical concepts and appropriate questions about those concepts for this course across multiple institutions.  This study is funded by the National Science Foundation (NSF).  You have been asked to participate in this study because you are (1) at least 18 years of age and (2) are enrolled in CSE151. </p> 

    <p>Participating in this study involves completing an exam answering questions about CSE151 course concepts.  You will be asked for personal identifiers (name/T-number) as well as background demographic information. The exam should take 5-15 minutes to complete.  By participating in this study you are expressing your willingness to allow the researchers to use your exam responses in their data analysis.</p>
    
    
   <br>
        <h4>If an instructor wishes to require the exam to improve the quality of instruction</h4>
     <p>Your course instructor has requested you complete the exam for credit in your course. So you can get credit for the exam, the T-number of students who complete the exam will be provided to your instructor.  Note that you can complete the exam AND decline to participate in the exam by responding “NO” to Question 2 on the exam.  If you decline participation, your answers will not be included in the study.
    </p>
    
    
    <br>
    <h4>What are the risks associated with this study?</h4>
    
    <p>
    Participation in this study may involve some added risks beyond those associated with taking the class. The main risk is a potential for the loss of confidentiality.  The principal researchers in this study will have access to exam results.   At the end of the term, this data will have any personally identifying information (Name/T-number) removed and this data will be maintained on a secure system.  Only aggregated results will be reported outside of the research team.  Research records will be kept confidential to the extent allowed by law.
    </p>
    
    
    <p>
    If you elect to participate in this exam, you will be asked to consent to your participation online.  Your consent will be the only question asking for personal identifiable information and is retained to retain a record of your consent.  This identifiable information will be removed from the data before analysis and will not be available to other participating institutions.  Because the exam asks you about your understanding of the concepts from the course, there is the potential for minor discomfort in answering these questions.    
    </p>
    
    <p>
    Because this is a research study, there may also be some unknown risks that are currently unforeseeable. You will be informed of any significant new findings.
    </p>
    
    <br>
    <h4>What are the alternatives to participating in this study?</h4
    
    <p>
    Participation in this research is completely voluntary. The alternative to participation is no participation.  If you decide not to participate, or to discontinue your participation, we will exclude your data from our analysis.  If your instructor required the exam, you can still complete it (for credit) even if you chose not to participate.  To be clear, your decision to participate or not participate will have no effect on your activities in your CSE151 class or your grades in that class.
    </p>
    
    
    <br>
<h4>What benefits can be reasonably expected?</h4>
    <p>
    Although there is no direct benefit to your participation in this study, answering questions on course concepts could potentially improve your understanding of those concepts.  In addition, the investigators may learn more about how to improve CSE education at Oberlin and beyond, and you may indirectly benefit from this knowledge.
    </p>
    
    <br>
<h4>Can you choose to not participate or withdraw from the study without penalty or loss of benefits?</h4>
    
    <p>
    Participation in research is entirely voluntary. You may withdraw your participation from this exam at any time.   If you decide that you no longer wish to continue in this study, just exit your web browser before completing the exam.
    </p>
    
    
    <br>
    <h4>Can you be withdrawn from the study without your consent?</h4>
    
    <p>
    The PI may remove you from the study without your consent if the PI feels it is in your best interest or the best interest of the study.
    </p>
    
    <br>
    <h4>Will you be compensated for participating in this study?</h4>
    <p>You will not be compensated for your participation in the exam</p>
    
    <br>
    <h4>Are there any costs associated with participating in this study?</h4>
    <p>There will be no cost to you for participating in this study</p>
    
    
    <br>
    <h4>Who can you call if you have questions?</h4>
    <p>
        Professor Cynthia Taylor and/or your course instructor has explained this study to you and answered your questions. If you have other questions or research-related problems, you may reach Cynthia Taylor at 440 775 8424, or you can send email to <a href = "mailto:ctaylor@oberlin.edu">ctaylor@oberlin.edu</a>. You may also call Pablo Mitchell, IRB Chair, at the Office of the Dean of Arts and Sciences, Cox 101, Oberlin College, Oberlin, OH 44074; (440) 775 8410, 
        <a href = "mailto:pablo.mitchell@oberlin.edu">pablo.mitchell@oberlin.edu</a> to inquire about your rights as a research subject or to report research-related problems.
    </p>
    
    <br>
    <h4>Your Signature and Consent</h4>
    
    <p>
    Please continue with the online exam and it will ask you for your consent to participate:<br>
        
        <a href = "{% url 'exam:take_test' pk %}" class = "btn btn-warning"> I Accept </a>
    
    </p>
    
</div>


{% endblock %}