{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Interview Detail" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">

<div class="form-horizontal-heading">
  <h2>Select a version of the question</h2>
</div>

<form action="" method="post">{% csrf_token %}

  {{ form.non_field_errors }}
  <div style="overflow: auto; width:75%; height: 400px;">
  <table class="table table-bordered">
  <thead>
    <tr bgcolor="#B2B2B2">
      <th>Version</th>
      <th>Question</th>
      {% if question_type == 'mc' %}
        <th>Options</th>
      {% endif %}
      <th>Revert?</th>
    </tr>
  </thead>
  <tbody>
    {% comment %}
      radio is each option in the form's version field.
        radio.choice_value is the index (newest versions first)
        radio.choice_label is the question text
        radio.tag is a selectable radio button
        
      use radio.choice_value in combination with version_list
      to get the corresponding version object
    {% endcomment %}
    {%for radio in form.version %}
        {% if radio.choice_value == '0' %}
          <tr class = warning>
          <td> Current Version </td>
        {% else %}
          <tr class = success>
          <td>{{ radio.choice_value}}  </td>
          {% comment %}
          This may be confusing: radio.choice_value is just an index,
          not a version number.
          {% endcomment %}
        {% endif %}
        <td>{{radio.choice_label}}</td>
        {% if question_type == 'mc' %}
          <td>
            {% for option in option_list.pop %}
              {% if option.is_correct %}
                <li><b>{{option.text}}</b></li>
              {% else %}
                <li>{{option.text}}</li>
              {% endif %}
            {% endfor %}
          </td>
        {% endif %}
        <td>{{radio.tag}}<br></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  </div>
    <button class="btn btn-primary" type="submit" value="Update"> Update </button>
    <a href = {% url 'exam:detail' object.exam.id %} class="btn btn-primary"> Cancel </a>
</form>

</div> <!-- container -->


{% endblock %}

