{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Edit Profile" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">


  <div class="horizontal-heading">
    <h1>Welcome, {{ user.name }}</h1>
  </div>    
    <b>Primary Email:</b> {{ user.email }}<br>
    <b>Name:</b> {{ user.name }}<br>
    <b>Institution:</b> {{ user.profile.institution }}<br>    
    <b>Homepage:</b> {{ user.profile.homepage }}<br>
    <b>Other Info:</b> {{ user.profile.text_info }}<br>

    <br>
    {% if user.profile.is_contrib or user.is_staff %}
      You have Contributor privileges, which means you can access features of the website
      for developing the CI.  You can also deploy the CI when it is finished.
    {% else %}
      You do not have Contributor privileges, but you can deploy the CI when it is finished.
      If you would like to help develop the CI, please contact us.
    {% endif %}

    {% if user.is_staff %}
      <br><br>
      You are an administrator. You can do exclusive staff things at the
      <a href = {% url 'staff_page' %}> Staff Page </a><br>
    {% endif %}
    
    <h3>Distribute Survey/Exam</h3>
    <a href = {% url 'exam_index' %} class='btn btn-primary'>New Distribution</a>
    <h4>Your distributed exams</h4>

    {% for response_set in user.profile.responseset_set.all %}
      <span class="tab"><a href = {% url 'distribute_send' response_set.id %}> {{ response_set }} </a> </span>
          <a href = {% url 'distribute_delete' response_set.id %} class='btn btn-sm btn-danger'> Delete </a>
      
      <br>
    {% endfor %}
    
	
    <h3>Options</h3>
	<a href = {% url 'account_logout' %}> Logout </a>
	<br><a href = {% url 'edit_profile' %}> Edit Profile </a>
	<br><a href = {% url 'account_email' %}> Manage Email Addresses </a>
	<br><a href = {% url 'account_change_password' %}> Change Password </a>
  
</div> <!-- container -->

{% endblock %}
