{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>Welcome {{ user.name }} </h2>
    <div class ="profile-info">
	This is your profile.<br><br>
    
    <b>Primary Email:</b>
    {{ user.email }}<br>

    <b>Name:</b>
    {{ user.name }}<br>

    <b>Institution:</b>
    {{ user.profile.institution }}<br>    
    
    <b>Homepage:</b>
    {{ user.profile.homepage }}<br>
    
    <b>Other Info:</b>
    {{ user.profile.text_info }}<br>

    
    
	<br><br><b>Options:<b>
	<br><a href = {% url 'account_logout' %}> Logout </a>
    <br><a href = {% url 'edit_profile' %}> Edit Profile </a>
	<br><a href = {% url 'account_email' %}> Manage Email Addresses </a>
	<br><a href = {% url 'account_change_password' %}> Change Password </a>
  
    

{% endblock %}
