{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Signup Under Review" %}{% endblock %}

{% block content %}

<div class="container">

<h1>Account Pending</h1>

<p class="lead">We are currently reviewing your information. You will receive
an email when your account is approved.</p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {# flush messages, expected "You have confirmed <email>" #}
    {% endfor %}
</ul>
{% endif %}

<p><a href="{% url 'home' %}" class="btn btn-primary" role="button">Return to home page &raquo;</a></p>

</div> <!-- container -->

{% endblock %}
