{% extends "account/base.html" %}

{% block head_title %}

Verify Your E-mail Address

{% endblock %}

{% block content %}

<div class="container">

    <h1>Verify Your E-mail Address</h1>

    <p class="lead">We have sent an e-mail to you for verification.  Please
    follow the link provided to finalize the signup process.</p>

    <!--Please contact us if you do not receive it within a few minutes.-->

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {# flush messages, expected "Confirmation email sent to <email>" #}
    {% endfor %}
</ul>
{% endif %}

<p><a href="{% url 'home' %}" class="btn btn-primary" role="button">Return to home page &raquo;</a></p>

</div> <!-- container -->

{% endblock %}
