body {
  padding-top: 75px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-horizontal {
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
}

.form-horizontal .form-horizontal-heading {
  margin-bottom: 30px;
}

.form-horizontal .checkboxes {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-horizontal .submit {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 150px;
  margin-right: 150px;
}


.collapsible_list li > input + * {
    display:none;
}

.collapsible_list li > input:checked + * {
    display:block;
}

.collapsible_list li > input:checked > .list{
    background-color:rgb(200,200,202);
}

.collapsible_list > input {
    display:none;
}
    
.collapsible_list li > input{
    display:none;
}

.collapsible_list label{
    cursor:pointer;
}
    
.collapsible_list{
    list-style:none;
    padding-left:0;
    
}


.list{
    padding: 5px;
    width: 700px;
    background-color: rgb(215, 217, 218);
    border-radius: 10px;
    border-color: rgb(199, 196, 196);
    border-width: thin;
    border-style: solid;
}

.plus{
    float:right;
    color: rgb(142, 142, 142);
}

.plus:hover{
    color:rgb(100,100,100);
}

.list:hover{
    background-color: rgb(200,200,202);
}

.list:hover > .plus{
    color:rgb(100,100,100);
}





