{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}
{% load mptt_tags %}

{% block head_title %}{% trans "Concepts" %}{% endblock %}

{% block content %}
<div class = "container">

<div class="page-header">
  <h1>Stage 1: Content Selection</h1>
</div>

{% recursetree tree %}

{% if node.is_leaf_node %}

    <div class="panel panel-default">
        <div class="panel-body">
            <a href="javascript:void(0)" onclick="testfunc({{ node.id }}, '{{ node.content }}')">{{ node.content }}</a>
            <!--
            <button type="button" class="btn btn-default" onclick="testfunc({{ node.id }}, '{{ node.content }}')">
            {{ node.content }}
            </button>
            -->
        </div>
    </div>

{% else %}

    {% if node.is_root_node %}

    <div class="panel panel-default" id="rootpanel">
        <div class="panel-heading">
            <h2 class="panel-title">{{ node.content }}</h2>
        </div>
        <div class="panel-body">
            <div class="panel-group" id="accordion{{ node.id }}">
                {{ children }}
            </div>
        </div>
    </div>


    {% else %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian{{ node.parent.id }}" href="#collapse{{ node.id }}">{{ node.content }}</a>
                </h4>
            </div>
            <div id="collapse{{ node.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel-group" id="accordion{{ node.id }}">
                        {{ children }}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endif %}

{% endrecursetree %}

<div class="panel panel-default">
    <div class="panel-heading" id="nodename">
    </div>

    <div class="panel-body" id="nodeinfo">
    </div>

</div>


<!--
<ul>
    {% recursetree tree %}
        <li>
            {{ node.content }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
-->

<!--
{% recursetree tree %}
        <li>
          <b>Content:</b> {{ node.content }}
          <br>
          <b> Id: </b> {{ node.id }}
          <br>
          <b>Voting Stage:</b> {{node.node_type}}
          <br>
          <b>Contributed Users:</b>
                <ul>
                  {% for user in node.users_contributed_set %}
                  <li>{{ user }}</li>
                  {% endfor %}
                </ul>
          <br>
          {% if user in node.users_contributed_set %}
          User has visited!
          {% else %}
          User has not visited here!
          <br>
          {% endif %}

          {% ifequal node.node_type 'F' %}

                <a href="{% url 'free entry' node.id %}">
                {% if user in node.users_contributed_set %}
                        View Final Choices for Node {{ node.id }}</a>
                {% else %}
                        Edit/Add Choices for Node {{ node.id }}</a><br>
                {% endif %}

          {% endifequal %}

          {% ifequal node.node_type 'P' %}
                {% if user in node.admin_set %}
                        <a href="{% url 'merge' node.id %}"> Merge for Node {{ node.id }}</a>
                {% else %}
                        User is not admin, but node is in Merge state
                {% endif %}
          {% endifequal %}

          {% ifequal node.node_type 'R' %}
                <a href="{% url 'dispatch' node_id=node.id %}">Ranking for Node {{ node.id }}</a>
          {% endifequal %}

          <p>
          {% if not node.is_leaf_node %}
                <ul class="children">
                  {{ children }}
                </ul>
          {% endif %}
        </li>
{% endrecursetree %}
-->

</div> <!-- Container -->

{% endblock %}

{% block extra_js %}

<script>

function testfunc(id, content) {
    $("#nodename").html("<h4>" + content + "<h4>");

    $.ajax({async: true, url: "/stage1/node/" + id + "/entry", success: function(result){
            $("#nodeinfo").html(result);
        }});

    return false;
}
</script>

{% endblock %}
