{% load mptt_tags %}

<h1>Welcome to the Stage 1 Landing Page!</h1>

<ul>
  {% recursetree master_tree_set %}
        <li>
          <b>Content:</b> {{ node.content }}
          <br>
          <b>Voting Stage:</b> {{node.node_type}}
          <br>
          {% if user in node.users_contributed_set %}
          User has visited!
          {% else %}
          User has not visited here!
          {% endif %}
          <p>
          {% if not node.is_leaf_node %}
                <ul class="children">
                  {{ children }}
                </ul>
          {% endif %}
        </li>
   {% endrecursetree %}
<p>
<p>
<p>
<p>
<br>
<br>
You are: {{ user.name }}
</ul>
