{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}
{% load mptt_tags %}

{% block head_title %}{% trans "Concepts" %}{% endblock %}

{% block content %}
<div class = "container">

<div class="page-header">
  <h1>Stage 1: Content Selection</h1>
</div>

{% recursetree tree %}

{% if node.is_leaf_node %}

    <div class="panel panel-default">
        <div class="panel-body">
            <a href="javascript:void(0)" onclick="show_node({{ node.id }}, '{{ node.content }}', true);">{{ node.content }}</a>
        </div>
    </div>

{% else %}

    {% if node.is_root_node %}

    <div class="panel panel-default" id="rootpanel">
        <div class="panel-heading">
            <h2 class="panel-title">{{ node.content }}</h2>
        </div>
        <div class="panel-body">
            <div class="panel-group" id="accordion{{ node.id }}">
                {{ children }}
            </div>
        </div>
    </div>


    {% else %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian{{ node.parent.id }}" href="#collapse{{ node.id }}">{{ node.content }}</a>
                </h4>
            </div>
            <div id="collapse{{ node.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel-group" id="accordion{{ node.id }}">
                        {{ children }}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endif %}

{% endrecursetree %}

<div id="submit_result">
</div>

<div class="panel panel-default">
    <div class="panel-heading" id="nodename">
    </div>

    <div class="panel-body" id="nodeinfo">
    </div>

</div>

</div> <!-- Container -->

{% endblock %}

{% block extra_js %}

<script>

var close = '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';

function show_node(id, content, clearstatus) {
    var result = $('#submit_result');

    $.ajax({url: "/stage1/node/" + id,
        success: function(data){
            if (clearstatus) {
                result.html("");
            }

            $("#nodename").html("<h4>" + content + "<h4>");
            $("#nodeinfo").html(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            result.html('<div class="alert alert-danger" role="alert">' + errorThrown + close + '</div>');
            $("#nodename").html("");
            $("#nodeinfo").html("");
        }
    });

    return false;
}
</script>

{% endblock %}
