{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Add Questions to Survey" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">

  <center>
  <div class="form-horizontal-heading">
    <h2>Add Question</h2>
  </div>
  </center>

<form class="form-horizontal" role="form"  action="{% url 'survey_add' %}" method="post">{% csrf_token %}
  
  {{ form.non_field_errors }}

  {% for field in form %}
    <div class="form-group">
      {{ field.errors }}
      <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
      <div class="col-sm-9">
        {{ field }}
     </div>
    </div>
  {% endfor %}
  
  <div class="submit">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
    <a href = {% url 'interview_index' %} class='btn btn-lg btn-info btn-block' > Cancel </a>
  </div>
</form>


</div> <!-- container -->

{% endblock %}