{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Interview Detail" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
    
<div class="form-horizontal-heading">
  <h2><b>Final Survey</b></h2>
</div>


<div>
  <a href = {% url 'survey_index' %} class="btn btn-primary"> Back to Survey Development </a>
  {%if user.is_staff%}
  <a href = {% url 'finalize_view' %} class="btn btn-warning"> Select More Questions for Final Survey</a>
{%endif%}
  <br>
    <br>
</div>

<div align="left">
<form action = {% url 'delete_final_question' %}  method = "post" >{% csrf_token %}
<TABLE WIDTH="750">
  <thead>
    <tr>
      <th>Free Response</th>
      <th>Multiple Choice</th>
    </tr>
  </thead>
<TR>
<TD WIDTH=300>
<TABLE WIDTH="300">
<TR>
<TD align="middle">
{% if freeresponsequestion_list %}
  <div style="overflow: auto; width:500px; height: 500px;">
   <table  class="table table-bordered ">
                 <thead>
    <tr bgcolor="#B2B2B2">
      <th>Concept</th>
      <th>Question</th>
        {%if user.is_staff%}
      <th>Delete?</th>
      {%endif%}
    </tr>
  </thead>
    <tbody>
    {% for concept, questions in freeresponsequestion_list.iteritems %}
       <tr>
        {% if concept%}
        <td bgcolor = "#B2B2B2">{{concept}} </td>
        {%if questions %}
        {% for q in questions %}
              {%with forloop.counter as index%}
                {% if index == 1 %}
                 <td>{{q}}</td>
                   {%if user.is_staff%}
                 <td><input type="checkbox" name="fr_selected" value="{{q.id}}"> </td>
                 {%endif%}
                  {%else%}
                    <tr> <td bgcolor = "#CECECE"></td> 
                    <td> {{q}} </td>
                      {%if user.is_staff%}
                    <td><input type="checkbox" name="fr_selected" value="{{q.id}}"> </td>
                  {%endif%}
                    </tr>
                {%endif%}
             {%endwith%}
             
          {%endfor%}
          
          {% else %}
            <td>---</td>
              {%if user.is_staff%}
            <td>---</td>
            {%endif%}
        {%endif%}
       </tr>
       {%endif%}
    {% endfor %}
  </tbody>
</table>
  </div>

{% else %}
    <p>No free response questions have been created yet.</p>
{% endif %}
</TD>
</TR>
</TABLE>
</TD>
<TD WIDTH="500">
<TABLE >
<TR>
<TD align="middle" WIDTH="500">
{% if multiplechoicequestion_list %}
    <div style="overflow: auto; width:500px; height: 500px;">
   <table  class="table table-bordered"  >
                 <thead>
    <tr bgcolor="#B2B2B2">
      <th >Concept</th>
      <th>Question</th>
      <th>Options</th>
        {%if user.is_staff%}
      <th>Delete?</th>
      {%endif%}
    </tr>
  </thead>
    <tbody>
    {% for concept, questions in multiplechoicequestion_list.iteritems %}
       <tr >
        {% if concept%}
        <td bgcolor = "#B2B2B2">{{concept}} </td>
        {%if questions %}
        {% for q in questions %}
              {%with forloop.counter as index%}
                {% if index == 1 %}
                 <td>{{q}}</td>
                  <td>{%for option in option_list %}
                {% if option.question.id == q.id%}
            <li>{{option.text}}</li>
          {%endif%}
          {%endfor%}
          </td>
                    {%if user.is_staff%}
           <td><input type="checkbox" name="mc_selected" value="{{q.id}}"> </td>
            {%endif%}
                  {%else%}
            <tr> <td bgcolor = "#CECECE"></td> 
              <td>{{q}}</td>
           
          <td WIDTH="200">{%for option in option_list %}
          {% if option.question.id == q.id%}
            <li>{{option.text}}</li>
          {%endif%}
          {%endfor%}
          </td>
            {%if user.is_staff%}
          <td><input type="checkbox" name="mc_selected" value="{{q.id}}"> </td>
          {%endif%}
           {%endif%}
            {%endwith%}
          {%endfor%}
          {% else %}
            <td>---</td>
            <td>---</td>
              {%if user.is_staff%}
            <td>---</td>
            {%endif%}
            {%endif%}
       </tr>
       {%endif%}
    {% endfor %}
  </tbody>
</table>
   </div>
{% else %}
    <p>No multiple choice questions have been created yet.</p>
{% endif %}


</TD>
</TR>
</TABLE>
</TD>
</TR>
</TABLE>
{%if user.is_staff%}
<input type="submit" value="Delete Questions" class="btn btn-danger"></input>
{%endif%}
</form>
</div>





{% endblock %}

</form>
</div>






