{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Survey Detail" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<h1>Question Versions</h1>
<h3>Select an old version of the question and hit "Submit" to revert to it</h3>
<div class="container">

{%if question_type == 'fr'%}
  <form action = {% url 'freeresponse_revert' question.id %} method = post >
               {% csrf_token %}
    <div style="overflow: auto; width:75%; height: 400px;">
   <table class="table table-bordered">
                 <thead>
    <tr bgcolor="#B2B2B2">
      <th>Version</th>
      <th>Question</th>
      <th>Revert?</th>
    </tr>
  </thead>
    <tbody>
    {%for version, q in version_list%}
      {% with forloop.counter as index %}
        {%if q == question.question %}
              <tr class = warning>
                <td> Current Version:  </td>
                <td>{{q}}</td>
                <td><input type="radio" name="version" disabled=disabled value={{version.id}}><br></td>
        {% else %}
          <tr class = success>
                <td>{{index}}  </td>
                <td>{{q}}</td>
                <td><input type="radio" name="version" value={{version.id}}><br></td>
            {%endif%}
    
      {%endwith%}
    {% endfor %}
    
    </form>
  </tbody>
</table>
    </div>
    
{%endif%}

{%if question_type == 'mc'%}
  <form action = {% url 'multiplechoice_revert' current_question.id %}  method = post >
{% csrf_token %}
 <div style="overflow: auto; width:75%; height: 500px;">
   <table class="table table-bordered">
                 <thead>
    <tr bgcolor="#B2B2B2">
      <th>Version</th>
      <th>Question</th>
      <th>Options</th>
      <th>Revert?</th>
    </tr>
  </thead>
    <tbody>

    {%for version in version_list%}
      
      {% with forloop.counter as index %}
        
        {% if index == 1 %}
              <tr class = warning>
                <td> Current Version:  </td>
                <td>{{question_list.pop}}</td>
                <td>{% for option in options_list.pop %}
                     <li>{{option}}</li> 
                {%endfor%}
                </td>
                <td><input type="radio" name="version" disabled=disabled value={{version.id}}><br></td>
        {%else%}
          
          <tr class = success>
                <td>{{index}}  </td>
                <td>{{question_list.pop}}</td>
                <td>{% for option in options_list.pop %}
                     <li>{{option}}</li> 
                {%endfor%}
                </td>
                <td><input type="radio" name="version" value={{version.id}}><br></td>
            
    {%endif%}
      {%endwith%}
    {% endfor %}

    </form>
  </tbody>
</table>
  </div>
               

{%endif%}
<input type="submit" value="Submit" class="btn btn-primary">
  {%if question_type == 'fr'%}
    <a href = {% url 'freeresponse_edit' question.id %} class="btn btn-primary"> Cancel </a>     
    {%endif%}
    {%if question_type == 'mc'%}
      <a href = {% url 'multiplechoice_edit' current_question.id %} class="btn btn-primary"> Cancel </a>
      {%endif%}
      

{% endblock %}