{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Final Atom List" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">

<h1>Final Atom List</h1>

<ul>
  {% for atom in atoms %}
        <li> {{ atom.text }} </li>
{% endfor %}
</ul>

<a href="{% url 'landing' %}">Back to Stage 1 Landing Page</a>

</div>

{% endblock %}