{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Exam Index" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">

<h1>Error: Voting Stage Not Open</h1>

This page corresponds to a voting stage which is not open
anymore.
<p>
Please return to the Stage 1 landing page, or contact an
administrator if you feel this is not correct.
<p>
<a href="{% url 'stage1 dispatch' %}">Back to Landing Page</a>

    </p>
</div>
{% endblock %}
