{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Interview Detail" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
 
  <div class="horizontal-heading">
    <h3>{{ interview }} by {{ interview.uploaded_by }}</h3>
  </div>

  {% for excerpt in interview.conceptexcerpt_set.all %}
    <h4>Concept Tag: {{ excerpt.concept_tag }} </h4>
    {% if user_can_edit %}
    <a href = {% url 'conceptexcerpt_edit'  object.id excerpt.id %} class = "btn btn-primary"> Edit </a>
    <a href = {% url 'conceptexcerpt_delete'  object.id excerpt.id %} class = "btn btn-danger"> Delete </a>
    {% endif %}
    <br>
    <b>Response:</b> {{ excerpt.response }} <br>
    <b>Tags:</b>
    {% for tag in excerpt.topictags_set.all %}
        {{tag}}, 
    {% endfor %}
    <br>
    <b>Ability Level:</b> {{excerpt.ability_level}} <br>
    <b>Importance Ranking:</b> {{excerpt.importance}} <br>
    <br>
  {% endfor %}

  You are only allowed to edit/delete interviews which were uploaded by you.
  Staff users can edit/delete all interviews.<br>
  
  {% if user_can_edit %}
    <a href = {% url 'conceptinterview_edit' object.id %} class="btn btn-primary"> Edit </a>
    <a href = {% url 'conceptinterview_delete' object.id %} class="btn btn-danger"> Delete </a>
    <br>
  {% endif %}
  <br>

  <a href = {% url 'interview_index' %} class="btn btn-primary"> Return to interviews </a>

</div> <!-- container -->

{% endblock %}