{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Interview Index" %}{% endblock %}

{% block extra_headers %}

<link href="{% static 'css/form-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
    
<div class="form-horizontal-heading">
  <h2>Interview Groups</h2>
</div>

<ul class = "collapsible_overview">   
{% for group in object_list %}
  <li class = "table">
    <span class="over_tab">
    <a href="{% url 'interview_group' group.id %}">{{ group }}</a>
    Unlocked = {{group.unlocked}}
    </span>
  </li>
{% empty %}
    <p>There are no interview groups. An admin will need to create one.</p>
{% endfor %}
</ul>

<a href = {% url 'interview_add' 0 %} class="btn btn-primary"> Add an interview </a>
{% if user.is_staff %}
  <a href = {% url 'interview_create' %} class="btn btn-warning"> Create an interview group </a>
{% endif %}

</div> <!-- container -->

{% endblock %}