{% load staticfiles %}
<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Conceptum{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{% static 'css/conceptum.css' %}" rel="stylesheet">

    {% block extra_headers %}
    {% endblock extra_headers %}

    <!-- Use this to quickly test CSS changes in a template,
        then move to conceptum.css -->
    <style>
    {% block extra_css %}
    {% endblock extra_css %}
    </style>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Conceptum</a>
        </div>
        <div class="navbar-collapse collapse">
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.email }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="">Profile (FIXME)</a></li>
                <li class="divider"></li>
                <li><a href="{% url "account_logout" %}?next=/">Logout</a></li>
              </ul>
            </li>
          </ul>
          {% else %}
            <form class="navbar-form navbar-right" role="form" method="post" action="{% url "account_login" %}?next={{request.path}}">
            {% csrf_token %}
              <div class="form-group">
                <input id="id_email" maxlength="254" name="email" type="text" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <input id="id_password" name="password" type="password" placeholder="Password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </form>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    {% block content %}
    Content goes here.
    {% endblock content %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/conceptum.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
